html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
  display: grid;
  grid-template-rows: 1.5fr 8fr 0.5fr;
}

/* ---- Landing Page ---- */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

main {
  position: relative;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.5rem;
}

#btnNewTask {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

/* ---- Task PopUp ---- */
#taskPopUp {
  width: 500px;
  display: grid;
  grid-template: 2fr 1fr 4fr 1fr / 1fr 1fr 1fr;
  grid-template-areas:
    "taskName taskName taskName"
    "projectName priority dueDate"
    "description description description"
    ". btnSave .";
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

#formTask {
  grid-area: taskName;
}

#formProject {
  grid-area: projectName;
  width: 150px;
}

#formPriority {
  grid-area: priority;
  width: 150px;
}
#formDuedate {
  grid-area: dueDate;
  width: 150px;
}

#formDescription {
  grid-area: description;
}

#popUpSaveBtn {
  grid-area: btnSave;
}

#popUpCancelBtn {
  position: absolute;
  top: 5px;
  right: 5px;
}
